@using TaskManager.Data
@using _5_29TaskManager.Web.Models
@model IndexVM
@{
    ViewBag.Title = "Home Page";
}

<input type="text" id="task" placeholder="Task" class="form-control" />
<button class="btn btn-success" id="add">Add Task</button>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Task</th>
        <th>Status</th>
    </tr>
    @foreach (Task t in Model.Tasks)
    {
        <tr id="@t.Id">
            <td>@t.Title</td>
            @if (t.Status == true)
            {
                if (t.UserId == Model.User.Id)
                {
                    <td><button data-id="@t.Id" class="btn btn-success btn-status">Done!!!</button></td>
                }
                else
                {
                    <td><button data-id="@t.Id" class="btn btn-warning btn-status" disabled>@t.User.FirstName @t.User.LastName is Doing This Task</button></td>
                }
            }
            else
            {
                <td><button data-id="@t.Id" class="btn btn-primary btn-status">I'm Doing This Task!</button></td>
            }
        </tr>
    }
</table>

@section scripts
{
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/index.js"></script>
}